  <h1><%= @question.title %></h1>
  <hr>
  <h5><%= @question.user.username %></h5><br>
  <p><%= @question.body %></p>
  <hr>
    <% @question.answers.each do |answer| %>
      <%= answer.body %>
    <% end %>
